
.categories-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1%;
    width: 100%;
}

.category-page-link {
    color: black;
    text-decoration: none;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px #888888;
    padding: 10px;
    margin: 10px;
    /* width: 10%; */
    min-width: 150px;
    line-height: 50px;
    font-size: larger;
}
.category-page-link:hover{
    outline: solid 2px green;
}

.profiles-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
    margin: auto;
}

.category-page-router {
    display: flex;
    margin-right: 2%;
    margin-top: 10px;
}