.header-title {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
}

.side-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 20px 20px 20px;
}

.close-btn {
    cursor: pointer;
}

.close-btn:hover {
    background-color: rgb(203, 183, 183);
}

.side-bar-items {
    position: absolute;
    top: 0;
    right: -80%;
    height: 100vh;
    width: 80%;
    flex-direction: column;
    background-color: rgb(237, 237, 237);
    z-index: 100;
    transition: right 0.5s ease;
}

.side-bar-items.active {
    right: 0;
}

.hello-side-bar {
    line-height: 50px;
    font-size: large;
}

.home-link-side-bar {
    color: black;
}

.slider-btn {
    display: flex;
    cursor: pointer;
}

.search-side-bar {
    margin-right: 20px;
    display: flex;
    flex-grow: 10;
}

.side-bar-item {
    cursor: pointer;
    line-height: 40px;
    padding: 5px;
    background-color: rgb(172, 158, 158);

}

.side-bar-item:hover {
    background-color: rgb(17, 100, 100);
}

.side-bar-item .link {
    display: inline-block;
    width: 100%;
}

@media screen and (min-width: 701px) {
    .side-bar {
        display: none;
    }

    .side-bar-items {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .side-bar-items {
        display: flex;
    }
}