.side-bar {

    /*-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    background-color: #9e3a3a;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    left: -272px;
    padding-top: 20px;
    position: fixed;
    top: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    width: 272px;
    z-index: 10001;*/
}

.side-bar {
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    padding: 20px;
}

.slider {

}


.search-side-bar {
    width: 100%;
    margin-left: 20px;
}

@media screen and (min-width: 701px) {
    .side-bar {
        display: none;
    }
}
