.private-profile-page {
    padding: 20px;
}

.private-profile-container {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 3px gray;
    width: 70%;
    min-width: 300px;
}

.private-profile-grid {
    margin: 50px 20px 0px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 0.1fr 0.1fr; */
    grid-gap: 20px 5px;
}

.portfolio-management-container {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 3px gray;
    width: 30%;
    min-width: 300px;
}

.freelance-private-profile {
    display: flex;
}