* {
    box-sizing: border-box;
}

.profile-container>h2 {
    padding-top: 3%;
    margin-right: 5%;
}

.profile-container {
    display: flex;
    display: block;
    border-radius: 5px;
    flex-direction: column;
    width: 50%;
    min-width: 300px;
    margin-right: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    box-shadow: 1px 1px 2px 2px #888888;
    text-align: right;
}

.profile-page-router {
    display: flex;
    margin-right: 2%;
    margin-top: 10px;
}

.profile-picture {
    border: 1px solid #03BFCB;
    border-radius: 50%;
    padding: 7px;
    height: 180px;
    width: 180px;
    margin-right: 5%;
}

.profile-inner {
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.name-and-rating-container {
    display: flex;
}

.name {
    display: flex;
    flex-grow: 1;
    font-weight: 700;
    align-items: center;
}

.rating {
    display: flex;
    flex-grow: 4;
}

.rating>div {
    display: flex;
    align-items: center;
}

.rating-digit {
    font-weight: 700;
    font-size: 1.1rem;
}

.about {
    padding: 10px 0 10px 0;
    font-weight: 600;
}

.portfolio {
    width: 50%;
    margin-right: 5%;
    background-color: aqua;
    margin-bottom: 1%;
}

.reviews {
    width: 50%;
    min-width: 300px;
    margin-right: 5%;
    margin-bottom: 50px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 1px 2px 2px #888888;
}

.review {
    padding: 10px;
}

.separate-line {
    width: 80%;
    margin: auto;

    border-bottom: solid 1px gray;
}

@media screen and (max-width: 700px) {
    .profile-container {
        margin-left: auto;
        margin-right: auto;
    }

    .reviews {
        margin-left: auto;
        margin-right: auto;
    }
}