.freelance-page {
    background-color: rgba(243, 246, 249, 0.6);
    padding: 20px;

}

.grid-container {
    margin: 50px 20px 0px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 0.1fr 0.1fr; */
    grid-gap: 20px 5px;
}


.profile-page-router {
    display: flex;
    padding: 20px;
}

.portfolios {
    grid-row: span 3;
    justify-self: left;
    width: 90%;
    min-width: 500px;
}

@media only screen and (max-width: 900px) {
    .grid-container {
        grid-template-columns: 1fr;
        /* grid-template-rows: 1fr 0.1fr 0.1fr 0.5fr; */
    }
    .portfolios {
        grid-row: span 1;
    }
}