
.private-profile-image {

}

.edit-details-wrapper{
}
.profile-details-wrapper {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-right: 100px;
    margin-left: 100px;
    text-align: right;
}
.private-profile-picture {
    display: inline-block;
	border: 1px solid #03BFCB;
	padding: 7px;
    height: 180px;
    width: 180px;
    margin-right: 5%;
    margin-top: 1%;
    border-radius: 50%;
}

.title {
    font-weight: 600;
}