.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    /* width: 70%; */
    /* background-color: black; */
}

.main-categories-link {
    color: black;
    text-decoration: none;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px #888888;
    padding: 10px;
    margin: 10px;
    width: 20%;
    min-width: 150px;
    line-height: 50px;
    font-size:x-large;
}

.main-categories-link:hover {
    outline: solid 2px green;
}