.up-bar {
    width: 100%;
    background-color: rgb(0, 0, 0);
    line-height: 50px;
    /* padding-top: 10px;
    padding-bottom: 10px; */
    display: flex;
}

.hello {
    color: white;
    padding: 5px;
    margin-left: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 3px solid transparent;
    margin-left: 20px;
}

.right-bar {
    display: flex;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}

.left-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: 10px;
}

.categories-flex-container{
    display: flex;
    width: 100%;
}

.categories-navbar {
    display: flex;
    justify-content: space-around;
    background-color: lightgray;
    line-height: 35px;
    flex-grow: 1;
}

.category-link-bar {
    flex-grow: 1;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}

.nav-item {
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: 3px solid black;
    margin-left: 10px;
}

.nav-item:hover,
.category-link-bar:hover {
    border-bottom: 3px solid red;
}


.link {
    color: white;
    text-decoration: none;
}

.slide-btns {
    display: none;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 300px;
    /* margin: auto 0px 3px auto; */
    /* margin-top: auto; */
    /* margin-bottom: auto; */
}
@media screen and (max-width: 700px) {
    .up-bar {
        display: none;
    }
}
@media screen and (max-width: 480px) {
    .categories-navbar {
        display: none;
    }

    .slide-btns {
        display: none;
    }
}

@media screen and (max-width: 1400px) {
    .categories-navbar {
        flex-grow: 1;
        overflow-x: scroll;
    }
    .category-link-bar {
        min-width: 150px;
    }
}

@media screen and (max-width: 1400px) and (min-width: 480px) {
    .slide-btns {
        display: initial;
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.categories-navbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.categories-navbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

