.nav-bar-wrapper{
    /* position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; */
}

.up-bar {
    width: 100%;
    background-color: #fff;
    line-height: 80px;
    font-weight: 600;
    color: rgb(85, 85, 85);
    display: flex;
}

.hello {
    padding: 5px;
    margin-left: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 3px solid transparent;
    margin-left: 20px;
}

.right-bar {
    display: flex;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}

.left-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: 10px;
}

.categories-flex-container{
    display: flex;
    width: 100%;
}

.categories-navbar {
    display: flex;
    background-color: #fff;
    justify-content: space-around;
    line-height: 40px;
    flex-grow: 1;
}

.category-link-bar {
    flex-grow: 1;
    font-weight: 600;
    color: rgb(85, 85, 85);
    text-decoration: none;
    border-bottom: 3px solid transparent;
}

.nav-item {
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    margin-left: 10px;
}

.nav-item:hover,
.category-link-bar:hover {
    border-bottom: 3px solid #03BFCB;
}


.link {
    color: rgb(85, 85, 85);
    text-decoration: none;
}

.home-link {
    font-size: xx-large;
    font-weight: 700;
}

.slide-btns {
    display: none;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 300px;
}
@media screen and (max-width: 770px) {
    .up-bar {
        display: none;
    }
}
@media screen and (max-width: 480px) {
    .categories-navbar {
        display: none;
    }

    .slide-btns {
        display: none;
    }
}

@media screen and (max-width: 1400px) {
    .categories-navbar {
        flex-grow: 1;
        overflow-x: scroll;
    }
    .category-link-bar {
        min-width: fit-content;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 1400px) and (min-width: 480px) {
    .slide-btns {
        display: initial;
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.categories-navbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.categories-navbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

